.main {
  background-color: #eceff1;
  height: 100vh;
}

.paper {
  background-color: white;
  margin-top: 100px;
  margin-left: 60px;
  margin-bottom: 60px;
  height: 90vh;
  overflow: auto;
}

.model-button {
  display: flex;
  justify-content: space-around;
}


.actionCell {
  display: flex;
  justify-content: space-between;

}