.main {
  background-color: #eceff1;
  height: 100vh;
  margin-left: 10px
}

.paper {
  background-color: white;
 

  height: 90vh;
  overflow: auto;
}

.model-button {
  display: flex;
  justify-content: space-around;
}


.actionCell {
  display: flex;
  justify-content: flex-start;
    flex-wrap: wrap;

}