.button__email__div {
  padding: 10px;
}

.button__email {
  background-color: #00e676;
  border-color: #00e676;
}
.button__email:hover {
  background-color: green;
  border-color: black;
  color: white;
}

.purchaseOrder_table {
  padding: 30px;
  margin-top: 50px;
}

.newOrder_container {
  background-color: #eceff1;
  height: 100vh;
}
.newOrder_container_po {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding-top: 50px;
  border: 1px solid;
  border-color: lightgray;
  border-radius: 5px;
}

.bottom-form {
  display: flex;
  justify-content: space-evenly;
}
.top-form {
  margin-top: 65px;
  display: flex;
  justify-content: space-evenly;
  background-color: #eceff1;
}
.widget-title-text {
  color: gray;
}
.widget-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 10px;
}
.customer-info {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.bottom-form-widget {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding-top: 10px;
  border: 1px solid;
  border-color: lightgray;
  border-radius: 5px;
  width: 50%;
}
.newOrder_paper {
  margin-left: 20px;
  margin-right: 20px;
}

.purchaseOrder_title {
  padding-top: 50px;
  padding-left: 20px;
}

.customerInfo {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title {
  font-weight: 200;
}

.buttom_bar {
  margin: 20px;
  padding: 20px;
}

.paper {
  margin: 100px;
  background-color: white;
}
.maincontainer {
  margin-left: 10px;
  margin-right: 10px;
}

.main {
  background-color: #eceff1;
  height: 100vh;
}

.button__icon {
  margin-right: 10px;
}

.iconsBar {
  display: flex;
  justify-content: space-between;
}

.searchBar {
}

.searchBar__paper {
}

.searchBar__text {
  margin-left: 5px;
  border: "solid 0px" !important;
  border-color: "white" !important;
}

.delete-button {
  color: red !important;
  border: "1px solid #484850" !important;
  border-radius: "5px 5px 0 0" !important;
}

.edit-button {
  color: red !important;
  border: "1px solid #484850" !important;
  border-radius: "5px 5px 0 0" !important;
}
