.stocksDiv {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}
.titleText {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.stocksBox {
  display: flex;
  flex-direction: column;
}

.title-box {
  display: flex;

  justify-content: space-between;
}

.price {
  color: white;
  font-size: 20px;
}

.percentChange {
  color: red;
  font-weight: 300;
}

.divider {
  background-color: gray !important;
}
