.ListItemText {
  color: white;
}

.icon {
  margin-right: 20px;
  color: white;
}

.menu-row {
  margin-top: 20px;
}

.left-icon {
  color: white;
  font-size: 30px !important;
}
.nav-title {
  color: gray;
}
.nav-menu-icon {
  color: gray;
}
.nav-menu-icon:hover {
  color: red;
  background-color: gray;
}

.logout {
  display: flex;
  justify-content: right;
}

.logout-text {
  font-size: 15px;
}
