.ListItemText {
  color: white;
}

.icons {
  margin-right: 20px;
  color: white;
}

.menu-row {
  margin-top: 20px;
}

.left-icon {
  color: white;
  font-size: 30px !important;
}

.nav-menu-icon {
  color: gray;
}
.nav-menu-icon:hover {
  color: red;
  background-color: gray;
}

.logout-text {
  font-size: 15px;
}

.root {
  display: flex;
}

.navTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-title {
  font-size: 30xp;
}
.nav-title-div {
  width: 90%;
  padding-top: 7px;
  padding-left: 0px;
}

.logout-button {
  display: flex;
  align-items: center;
}
.nav-title {
  color: gray;
}

.logout {
  color: gray !important;
  margin: 10px;
  width: 30px !important;
  height: 30px !important;
}

.logout:hover {
  color: #3b5998 !important;
}
