.main {
  background-color: blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  font-family: "Roboto", sans-serif;
}

@media (max-width: 500px) {
  .cards-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
  }
  .card-div {
    background-color: white;
    width: 600px;
    height: 120px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
}

.info {
  height: 60%;

  width: 100%;
}

.title-div {
  height: 10%;
}

@media all {
  .cards-divs {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .card-div {
    background-color: white;
    width: 300px;
    height: 120px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  .title-div-card {
    padding-left: 10px;
  }
  .vendor-count {
    font-size: 20px;
  }

  .title {
    color: gray;
    font-size: 15px;
    font-weight: 100;
  }
}

.icon {
  color: red !important;
  width: 25px !important;
  height: 25px !important;
}

.content {
  display: flex;
  justify-content: space-between;
}

.icon-div {
  padding-top: 15px;
}
